extends layout

block content
  <header class="page-header">
    <img src="images/logo.png" alt="wordle logo">
    <h1>#{title}</h1>
    <ul class="header-contact">
      <li><a rel="me" href="https://botsin.space/@scoremywordle">Mastodon</a></li>
      <li><a rel="me" href="https://bsky.app/profile/scoremywordle.bsky.social">Bluesky</a></li>
    </ul>
  </header>

  <div class="spacer"></div>

  <section id="wordle-stats">
    
    each val in globalStats 
      article
        h2 Wordle #{val.key}
        p Unique users - #{val.total}
        <h4>Row 1 <span> - #{val.solvedRowCounts[1]} (#{val.solvedRowPercents[1]})</span></h4>
        <progress max="100" value="#{parseInt(val.solvedRowPercents[1].replace('<',''), 10)}"></progress>
        <h4>Row 2 <span>- #{val.solvedRowCounts[2]} (#{val.solvedRowPercents[2]})</span></h4>
        <progress max="100" value="#{parseInt(val.solvedRowPercents[2].replace('<',''), 10)}"></progress>
        h4 Row 3
          span  - #{val.solvedRowCounts[3]} (#{val.solvedRowPercents[3]})
        <progress max="100" value="#{parseInt(val.solvedRowPercents[3].replace('<',''), 10)}"></progress>
        h4 Row 4
          span  - #{val.solvedRowCounts[4]} (#{val.solvedRowPercents[4]})
        <progress max="100" value="#{parseInt(val.solvedRowPercents[4].replace('<',''), 10)}"></progress>
        h4 Row 5
          span  - #{val.solvedRowCounts[5]} (#{val.solvedRowPercents[5]})
        <progress max="100" value="#{parseInt(val.solvedRowPercents[5].replace('<',''), 10)}"></progress>
        h4 Row 6
          span  - #{val.solvedRowCounts[6]} (#{val.solvedRowPercents[6]})
        <progress max="100" value="#{parseInt(val.solvedRowPercents[6].replace('<',''), 10)}"></progress>
        h4 No Solve
          span  - #{val.solvedRowCounts[0]} (#{val.solvedRowPercents[0]})
        <progress max="100" value="#{parseInt(val.solvedRowPercents[0].replace('<',''), 10)}"></progress>

  </section>

  <div class="spacer"></div>

  <section id="info">
    if topScorerInfo && topScorerInfo.wordleNumber
      <article id="top-scorer">
        <h2>#{topScorerInfo.screenName || topScorerInfo.name}</h2>
        <h4>Top Scorer of the Day</h4>
        <ul>
          <li><p>Wordle #{topScorerInfo.wordleNumber}</p></li>
          <li><p>Score: #{topScorerInfo.score}</p></li>
          if topScorerInfo.solvedRow === 0
            <li><p>Not solved</p></li>
          else
            <li><p>Solved on Row #{topScorerInfo.solvedRow}</p></li>
          <li><p>Beat #{topScorerInfo.aboveTotal} (~#{topScorerInfo.percentage}) other users</p></li>
        </ul>
        <aside id="top-score-tweet">
          <p>#{scoreMessage}</p>
        </aside>
      </article>
    
    <article id="global-stats">
      <h3>Last Updated</h3>
      <h4>#{lastUpdated}</h4>
      <h3>Total Games Scored</h3>
      <h4>#{scoredCount}</h4>
      <h3>Total User Count</h3>
      <h4>#{userCount}</h4>
    </article>
    
  </section>

  <div class="spacer"></div>

  <div id="searchbox" class="search-container"></div>
  <div class="wrapper">
    <aside class="left-panel">
      <div id="clear-refinements"></div>
      <div id="stats"></div>
      <div id="toggle-auto-score"></div>

      <section>
        <h4>Handles</h4>
        <div id="name-list"></div>
      </section>

      <section>
        <h4>Wordle #</h4>
        <div id="wordle_number-list"></div>
      </section>

      <section>
        <h4>Solved Row</h4>
        <div id="solved_row-list"></div>
      </section>

      <section>
        <h4>Scores</h4>
        <div id="scores-list"></div>
      </section>

    </aside>
  
    <div class="right-panel">
      <section id="wordles"></section>
      <div id="pagination"></div>
    </div>
  </div>

//-
  <section id="wordle-list">
    
    <h2>Posted Wordles</h2>
    <p>Note: After Thu Oct 20 2022 1:30pm EDT, Wordles with a blue @ are posts that are scored as a result of the user directly mentioning the bot. Everyone else was randomly selected for scoring.</p>
  </section>

  <div class="spacer"></div>

   <section id="wordles">
    each val in datalist
      if val.score
        <article class="wordle">
          <a class="wordle-title#{val.isManual ? ' mentioned':''}" href="https://www.twitter.com/#{val.name}/status/#{val.id}">#{val.name}</a>
          <ul>
            <li>Score: #{val.score}</li>
            if val.wordleNumber
              <li>Wordle #{val.wordleNumber}</li>
            if val.solvedRow
              <li>Solved on Row #{val.solvedRow}</li>
            else
              <li>Not solved</li>
            <li><time>#{val.datestring}</time></li>
          </ul>
        </article>
  </section>

//-
  table(class='scores')
    <caption>After Thu Oct 20 2022 1:30pm EDT, rows that are highlighted are posts that are scored as a result of the user directly mentioning the bot. Everyone else was randomly selected for scoring.</caption>
    tr
      th Screename
      th Score
      th Date
      th Link
    each val in datalist
      if val.score
        tr(class=val.isManual && 'highlight')
          td #[a(href="https://www.twitter.com/"+val.name) #{val.name}]
          td #{val.score} 
            if val.solvedRow
              ='(Solved on ' + val.solvedRow
            else
              ='(Not solved'
            if val.wordleNumber 
              =' | Wordle ' + val.wordleNumber +')'
            else
              =')'
          td #{val.datestring}
          td #[a(href="https://www.twitter.com/"+val.name+"/status/"+val.id) tweet]
